/* book.css */

.book-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.book-content {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-style: solid;
  background-color: beige;
}

.book-cover {
  width: 400px;
  margin-right: 20px;
  height: 500px;
}

.book-details {
  max-width: 400px;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  gap: 10px; /* Add some space between the buttons */
}

.return-button,
.add-to-cart-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.return-button {
  background-color: #0C4F4E;
}

.add-to-cart-button {
  background-color: #0C4F4E;
}

.return-button:hover,
.add-to-cart-button:hover {
  background-color: #095251;
}

/* Additional styling for book details */
.book-details h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.book-details p {
  color: #555;
  font-size: 16px;
  margin-bottom: 8px;
}

.book-details p.author-description,
.book-details p.book-description {
  font-style: italic;
}

.book-details p.price {
  font-weight: bold;
  color: #0C4F4E;
}

