.book-container-download {
    margin: 20px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .book-item-download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    color: #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: darkcyan;
    width: 900px;
  }
  
  .book-details-download {
    display: flex;
    align-items: center;
  }

  .book-details-download div {
    margin-left: 20px;  /* Adjust the margin as needed */
  }
  
  .book-cover-download {
    width: 50px; 
    height: 70px;
    margin-right: 20px;
  }
  
  .book-container-download a {
    padding: 8px 12px;
    background-color: darkcyan;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  .book-container-download a:hover {
    background-color: cadetblue;
  }
  